/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


p, button, a {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color:  #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;
    color: bisque !important; 
}

body {
    background-color: #16254c;
}

.card, .card-body, .list-group-item {
    background-color: bisque;
}

.card-title, .card-text, .list-group-item {
    color: black !important;
}

.card p {
    color: black !important;
}

.event-link {
    color: blue;
}

.card {
    width: 18rem;
}

main a {
    text-decoration: underline;
    color: red;
}





/* navbar styles */
nav  li {
    font-size: 120%;
    margin-right: 40px;
}

nav .active {
    text-decoration: underline;
}

.navbar {
    background-color: bisque !important;
}



/* body styles */
/* Hero section */

#action-a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  


#action-button {
    background-color: #ffe4c4;
    border: solid 2px;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 20%;
    min-width: 130px;
  }

  #action-button:hover {
    text-decoration: underline;
}


.heading {
    text-decoration: underline;
}

main {
    margin-top: 61px;
    margin-bottom: 63px
}

img {
    max-width: 100%;
    height:auto;
}
#intro {
    font-size: larger;
}

/* venue section */
#map {
        width: 100%;
        height: auto;
}


/* events section */

.card {
    align-items: center;
}

.card-img-top {
width: 60%
}

.event-link {
    text-decoration: underline;
    color: red;
}





/* testimonials section */
.test-images {
    border-radius: 50%;
    
}

/* goty page */
#carouselExample {
    margin: auto;
}
.carousel button {
    background-color: rgba(0, 0, 0, 0.9);
    width: 10%;
}


/* contact us page */
#contact-form {
    background-color: rgba(201, 203, 202, 0.9);
    padding: 20px
}


#contact-form h6 {
    padding-top: 25px;
}

#questions-label {
    padding-top: 25px;
}

#contact-form > p {
    color: black !important;
}

.form-heading {
    color: black !important;
}

form button {
    color: black;
}

.form-control {
    border: 3px solid black;
}

.check {
    font-size: larger;
}
/* gallery */
#gallery-section img {
    width: 50%;
    height: auto;
    border: 4px solid;
    border-color: #ffe4c4;
    box-shadow: 10px 10px rgb(64, 87, 95);
}

#gallery-section img:hover {
    width: 80%;
}


/* footer styles */

footer{
    background-color: bisque
}
footer li {
    list-style: none;
}

footer i {
    width: 30px;
    height: 30px;
    font-size: 21px;
    color: #16254c;
}

footer img {
    margin: 7px;
}

/* media queries */


/* media query l and larger */

@media screen and (min-width:993px){
    /* Cards general */
    .card {
        width: 18rem;
    }    

    #testimonials .card {
        width:20rem;
    }
    
    /* events section */
    #wednesday-card {
        width: 40rem !important;
    }
    #wednesday-card img {
        max-width: 36%;
    }

    #events  .card {
        min-height: 792px;
    }
    
    .card-img-top {
        max-height: 172px;
    }
    
}
    

/* media query xl and larger */

@media screen and (min-width:1200px) {
    #hero-container {
        position: relative;
    }
    #hero-container img {
        width:100%;
        height: auto;
    }
    #hero-container .btn {
        position: absolute;
        top: 65%;
        left: 40%;
        font-size: 20px;
      }

    /* venue sections */
    #map {
        height: 60%;
    }
    
    /* testimonials */
    #testimonials .card {
        width:12rem;
    }

    #test-img {
        order:3
    }
    #test-one{
        order:1
    }
    #test-two {
        order:2
    }
    #test-three{
        order:4
    }
    #test-four{
        order:5
    }

    

    /* contact us */

    #form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #form-image {
        position: relative;
    }
    #contact-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:1200px) {
    #contact-form {
        background-color: bisque;
        }    
    
    #contact-form h2, h6 {
        color: black !important;
    }
}