
/* navbar styles */
nav  li {
    font-size: 120%;
    margin-right: 40px;
}

nav .active {
    text-decoration: underline;
}

/* footer styles */

footer li {
    list-style: none;
}

footer i {
    width: 30px;
    height: 30px;
    font-size: 21px;
    color: white
}

footer img {
    margin: 7px;
}
/* temp css for prototype */

p {
    color:red;
}

footer {
    background-color: blue;
}