
/* navbar styles */
nav  li {
    font-size: 120%;
    margin-right: 40px;
}

nav .active {
    text-decoration: underline;
}



/* body styles */

#action-a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
#action-button {
    background-color: blue;
    border: solid 2px;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 20%;
    min-width: 130px;
  }


.heading {
    text-decoration: underline;
}

main {
    margin-top: 61px;
    margin-bottom: 63px
}

img {
    max-width: 100%;
    height:auto;
}

/* footer styles */

footer li {
    list-style: none;
}

footer i {
    width: 30px;
    height: 30px;
    font-size: 21px;
    color: white
}

footer img {
    margin: 7px;
}

/* media queries */

/* media query xl and larger */

@media screen and (min-width:1200px) {
    #hero-container {
        position: relative;
    }
    #hero-container img {
        width:100%;
        height: auto;
    }
    #hero-container .btn {
        position: absolute;
        top: 85%;
        left: 40%;
      }
    
    /* testimonials */
    #testimonials {
        display: flex;
        flex-direction: row;
    }
    #test-row-two {
        width: 43%;
        order: 1;
    }
    #test-row-one {
        width: 22%;
        order: 2;
    }
    #test-row-three {
        width: 43%;
        order: 3;
    }
    #testimonials .col {
        width: 100%;
        
    }
}

/* temp css for prototype */

p {
    color:red;
}

footer {
    background-color: blue;
}
.container {
    background-color: orange;
}
.row {
    background-color: blueviolet;
}

main div {
    background-color: aqua;
    border-style: solid;
    border-width: 2px;
}

main .container {
    background-color: rgb(226, 43, 43);
}

